aiohttp
aiohttp-retry
aiosignal
asgiref
async-timeout
attrs
certifi
cffi
charset-normalizer
cryptography
defusedxml
distlib
Django
django-allauth
django-cors-headers
djangorestframework
djangorestframework-simplejwt
filelock
frozenlist
gunicorn
idna
multidict
oauthlib
packaging
Pillow
platformdirs
psycopg2-binary
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
sqlparse
twilio
typing_extensions
tzdata
urllib3
virtualenv
whitenoise
yarl
